* {
  background-color: white;
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("./resources/the-flatiron-building.png");
}

ul {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

small.h1 {
  font-size: 23px
}

h4{
  font-size: 11px;
  color: white;
  background-color: dimgrey;
}
